body{
    background: url(./img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    text-align: center;
    

}
.blog-preview{
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 400px;
    border-radius: 50px;
    background-image: linear-gradient(rgba(230, 171, 200, 0.349),rgba(149, 174, 211, 0.418));
    
    
    
}
.blog-preview>p{
    display: inline;
    padding: 20px;
}
.blog-preview>button{
    display: inline;
    border: 1px rgba(219, 154, 154, 0.178) solid;
    width: 90px;
    height: 30px;
    border-radius: 50px;
    background-color: rgba(103, 103, 158, 0.349);
    cursor: pointer;
}